<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>NodeJsClient</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../assets/css/bootstrap.css" rel="stylesheet">
<link href="../stylesheets/style.css" rel="stylesheet">
<link href="http://spbooks.github.com/nodejs1/docs.css" rel="stylesheet">
<script
	src="../assets/js/google-code-prettify/prettify.js"></script>
<script type="text/javascript"
	src="../assets/js/jquery.js"></script>
<script type="text/javascript"
	src="../assets/js/bootstrap-button.js"></script>
<script type="text/javascript"
	src="../assets/js/bootstrap-modal.js"></script>
<script type="text/javascript"
	src="../assets/js/bootstrap-transition.js"></script>
</head>
<body>
	<div class="container"> <a href="/settings"> Settings</a>
		<div class="marketing">

			<div id="pictureModal" class="modal hide fade smallModal myModal">
				<form method='post' action='/uploadImage'
					enctype='multipart/form-data'>
					<input type='file' name='image' /> 
					<button class="btn btn-primary" type="submit"> Change </button>
				</form>
			</div>
			
			<h1>Profile Page</h1>
			<table>
				<tr>
					<td>
						<div class="leftContainerProfile">
							<img src="/image.png"
								style="width: 140px; height: 160px;" /> <br />
								<a data-toggle="modal" href="#pictureModal" class="btn btn-primary" style="margin-left:10px;margin-top:20px;">Change
								Image </a>
						</div>
					</td>
					<td>
						<div class="rightContainerProfile">
							<div class="control-group">
								Name : <%= profileData.first_name%> <%= profileData.last_name%>
								<br /> Designation : <%=profileData.designation %><br /> Phone
								: <%=profileData.phone_number %><br /> EmailId :
								<%=profileData.emailId %><br /> Address :
								<%=profileData.addressData %><br />
							</div>
						</div>
					</td>
				</tr>
			</table>

		</div>
		<header class="jumbotron masthead">
		</header>
	</div>
</body>
</html>